<ion-view view-title="{{userName}} Account" view-cache="true">
  <ion-content>
    <div class="row">
      <div class="col text-center">
        <a ng-hide="login_success" ng-hide="login_success" class="button button-light" href="#/tab/dash">Please Login!</a>
      </div>
    </div>
    <div class="row">
      <div class="col text-center" style="" ng-show="login_success">
        <img src="{{profilePicture}}" class="" style="width:140px;height:140px;border-width:1px;border-style:solid;border-radius:50%">
      </div>

    </div>

    <div class="list" ng-show="login_success">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="First Name" value="{{userName}}">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
    </div>

  </ion-content>
  <div class="bar bar-footer">
    <button class="button-full button-clear">Save Changes</button>
  </div>
</ion-view>
